:root {
   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
   font-synthesis: none;
   text-rendering: optimizeLegibility;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
   min-height: 100vh;
}